language: generic
sudo: required
services:
    -docker

before_intall:
    - docker build -t lboncich/docker-react -f Dockerfile.dev .

script:
    - docker run -e CI=true lboncich/docker-react npm run test

deploy:
    provider: elasticbeanstalk
    region: "us-west-2"
    app: docker-react
    env: "DockerReact-env-1"
    bucket_name: "elasticbeanstalk-us-west-2-539164040422"
    bucket_path: "docker-react"
    on:
     branch: master
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY